body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.container {
    background-color: azure;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 10px auto;
    width: 1024px; 
    box-shadow: -10px -5px 4px rgba(211, 211, 211, 0.6), 2px -2px rgba(211, 211, 211, 0.3);
}


h1 {
    color: indigo;
    text-align: center;
}

header img {
    margin: 20px;
    border-radius: 50%;
    border: 10px solid  indigo;
}

footer {
    background-color: indigo;
    height: 100px;
    width: 100%;

}

.center {
    text-align: center;
}